<h1><%= @form.title %></h1>
<p><%= @form.text %></p>
<% if @form.questions.empty? %>
  <p> No Questions for this form </p>
<% else %>
  <%= @form.questions.inspect %> 
  <%= @form.questions %>
<% end %>